<nav>
  <a routerLink="/" routerLinkActive="active">Home</a> |
  <!-- <a routerLink="/about" routerLinkActive="active">About</a> | -->
  <a routerLink="/contact" routerLinkActive="active">Contact</a>|
    <a routerLink="/signup" routerLinkActive="active">Sign Up</a>|
  <a routerLink="/about/1">About 1</a> |
<a routerLink="/about/2">About 2</a> 
<br>
<button (click)="send()">Go to contact</button>
</nav>
<div class="container">
  <h2>Reactive Form Example</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <label>Email:</label>
  <input type="email" formControlName="email">
  <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
    Enter valid email
  </div>

  <br><br>

  <label>Password:</label>
  <input type="password" formControlName="password">
  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
    Minimum 4 characters required
  </div>

  <br><br>

  <button type="submit" [disabled]="loginForm.invalid">
    Login
  </button>

</form>
</div>
